.projectThumb {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 10px; }
  .projectThumb .imgThumb {
    width: 400px; }
  .projectThumb .inner {
    display: inline-block; }
    .projectThumb .inner h1 {
      margin: 0;
      padding: 0; }
    .projectThumb .inner span {
      padding-left: 10px; }
